body {
  background-color: #EBEFF5;
}
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
}
nav .title {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 20px;
  font-size: 18px;
}
nav ul {
  float: right;
  margin: 0 10px 0 0;
}
nav ul li {
  display: inline-block;
  color: #FFF;
  font-size: 14px;
  padding: 0 8px 0 8px;
}
nav ul li.apps i {
  color: #FFF;
  font-size: 24px;
  margin: 4px;
}
nav ul li.apps i:hover {
  color: #d4d4d4;
  font-size: 24px;
  margin: 10px;
}
nav ul li.user {
  vertical-align: top;
  margin: 0 0 0 0;
}
nav ul li.user img {
  vertical-align: middle;
  height: 36px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 0 0 16px;
}
nav ul li.user div.name {
  display: inline-block;
  margin: 0 0 0 6px;
  vertical-align: top;
}
.logo {
  margin: 4px 0 0 0;
  width: 130px;
}
p {
  /*letter-spacing: 0.2px;
    line-height: 28px;*/
  margin: 0 0 20px 0;
}
h5 {
  color: #29B6F6;
  margin: 20px 0 10px 10px;
}
h6 {
  background-color: #E3F2FD;
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  color: #29B6F6;
  margin: 0 0 20px 0;
}
/* Side Nav */
.side-nav {
  z-index: 2000;
}
.side-nav .title {
  padding: 0 0 0 17px;
  color: white;
  font-size: 14px;
}
.side-nav img {
  vertical-align: middle;
  height: 36px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 0 0 16px;
}
.side-nav .name {
  color: white;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 8px;
}
.side-nav .less-height {
  height: 20px;
}
.side-nav .smaller-font {
  font-size: 12px !important;
}
.side-nav .head-item {
  background-color: #222;
  height: 110px;
}
.side-nav li ul {
  padding-left: 20px;
}
.side-nav li ul li {
  line-height: 20px;
}
/* Left Nav*/
.left-nav {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 1px 1px #E4E4E4;
}
.left-nav ul {
  margin: 0;
}
.left-nav li {
  line-height: 40px;
}
.left-nav li.category-item > b,
.left-nav li.category-item > span,
.left-nav li.category-item > a {
  padding-left: 20px;
}
.left-nav li.category-item ul {
  padding-left: 40px;
}
.left-nav li.category-item ul li {
  line-height: 30px;
}
.left-nav li.category-item ul li a span {
  font-size: 11px;
}
.left-nav li.category-item ul li a span.priority-3 {
  color: #F44336;
}
.left-nav li.category-item ul li a span.priority-2 {
  color: #FF8F00;
}
.left-nav li.category-item ul li a span.priority-1 {
  color: #43A047;
}
.left-nav li.category-item ul li a span.priority-0 {
  color: #9E9E9E;
}
.left-nav li a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
}
.left-nav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}
.left-nav .less-height {
  height: 20px;
}
/* Views */
.view {
  margin-top: 60px;
  padding: 0 0 200px 0;
}
/* Components */
.badge {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.badge-name {
  vertical-align: top;
  padding: 8px 0px 0 15px;
  display: inline-block;
}
.p-badge {
  background-color: #F44336;
  padding: 4px 8px;
  color: white;
  border-radius: 18px;
  margin: 0 0 0 15px;
}
.trips {
  font-size: 12px;
  margin: 10px 0 20px 0;
}
[type="radio"].with-gap:checked + label:before {
  border: 2px solid #29B6F6;
}
[type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid #29B6F6;
}
[type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: #29B6F6;
}
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #29B6F6;
  background-color: #29B6F6;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  margin-right: 20px;
  padding-left: 28px;
}
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  border: 2px solid #5a5a5a;
}
[type="radio"]:disabled:not(:checked) + label:after,
[type="radio"]:disabled:checked + label:after {
  background-color: #29B6F6;
  border-color: #29B6F6;
}
[type="radio"]:disabled + label {
  color: inherit;
}
input[type=text] + label {
  pointer-events: none;
}
input[type=text] + label * {
  pointer-events: all;
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #29B6F6;
  box-shadow: 0 1px 0 0 #29B6F6;
}
input[type=text]:focus:not([readonly]) + label {
  color: #29B6F6;
}
input[type=text][readonly="readonly"],
input[type=text]:disabled {
  color: inherit;
  border-bottom: none;
  pointer-events: none;
}
input[type=text][readonly="readonly"].search,
input[type=text]:disabled.search {
  border-bottom: 1px solid #9E9E9E;
}
input[type=text].risk-4 {
  color: #B71C1C;
}
input[type=text].risk-3 {
  color: #F44336;
}
input[type=text].risk-2 {
  color: #FF8F00;
}
input[type=text].risk-1 {
  color: #43A047;
}
input[type=text].risk-0 {
  color: #9E9E9E;
}
.input-field input[type=search] {
  padding-left: 1rem;
}
.input-field input[type=search]:focus {
  border-bottom: 1px solid #29B6F6;
  box-shadow: 0 1px 0 0 #29B6F6;
  background-color: transparent;
}
.input-field input[type=search]:focus + label {
  color: #29B6F6;
}
.input-field.checkbox {
  margin-top: -10px;
}
.label-field {
  position: relative;
  margin-top: 1rem;
}
.label-field label {
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-out;
}
.label-field label.active {
  color: #9E9E9E;
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}
.label-field div {
  padding-top: 15px;
}
.label-field.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.label-field.col label {
  left: 0.75rem;
}
[type="checkbox"]:checked:disabled + label:before,
[type="checkbox"]:checked + label:before {
  border-right: 2px solid #29B6F6;
  border-bottom: 2px solid #29B6F6;
}
[type="checkbox"]:not(:checked):disabled + label:before {
  border: 2px solid #5a5a5a;
  background-color: initial;
}
select:disabled {
  color: inherit;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #29B6F6;
  box-shadow: 0 1px 0 0 #29B6F6;
}
.travel-cont {
  transition: all 250ms ease;
}
.travel-card {
  border-left: 5px #29B6F6 solid;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #E4E4E4;
  padding: 10px 0 10px 15px;
  margin: 0 0 20px 0;
  transition: all 250ms ease;
  font-size: 12px;
}
.travel-card .risk {
  color: #29B6F6;
}
.travel-card .risk-bar {
  width: 100%;
  height: 4px;
  background-color: #29B6F6;
}
.travel-card .card-sect {
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
  /*&.header {
            margin: 10px 0 10px 0;
        }*/
}
.travel-card p {
  margin: 0 0 0 0;
  line-height: 18px;
}
.travel-card .sub {
  color: #afafaf;
}
.travel-card .previous-dest {
  color: #29B6F6;
}
.travel-card .dest {
  margin: 0;
}
.travel-card .risk-ball {
  width: 6px;
  height: 6px;
  margin: 6px 8px 0 0;
  vertical-align: top;
  border-radius: 10px;
  background-color: #29B6F6;
  display: inline-block;
}
.travel-card .risk-ball.risk-4 {
  background-color: #B71C1C;
}
.travel-card .risk-ball.risk-3 {
  background-color: #F44336;
}
.travel-card .risk-ball.risk-2 {
  background-color: #FF8F00;
}
.travel-card .risk-ball.risk-1 {
  background-color: #43A047;
}
.travel-card .risk-ball.risk-0 {
  background-color: #9E9E9E;
}
.travel-card.risk-4 {
  border-left: 5px #B71C1C solid;
}
.travel-card.risk-4 .risk {
  color: #B71C1C;
}
.travel-card.risk-3 {
  border-left: 5px #F44336 solid;
}
.travel-card.risk-3 .risk {
  color: #F44336;
}
.travel-card.risk-2 {
  border-left: 5px #FF8F00 solid;
}
.travel-card.risk-2 .risk {
  color: #FF8F00;
}
.travel-card.risk-1 {
  border-left: 5px #43A047 solid;
}
.travel-card.risk-1 .risk {
  color: #43A047;
}
.travel-card.risk-0 {
  border-left: 5px #9E9E9E solid;
}
.travel-card.risk-0 .risk {
  color: #9E9E9E;
}
.travel-card .open-form {
  float: right;
  padding: 5px;
}
.travel-card .col {
  padding: 0;
}
.travel-desc {
  color: #555555;
  font-weight: 500;
}
.title-divider {
  margin: 20px 0 15px 0;
}
.update-records {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 6px;
  box-shadow: 5px 4px 1px 6px #d2d2d2;
  text-align: right;
  z-index: 100000;
}
.update-records.center {
  text-align: center;
}
/*.new-cta{
    padding: 10px 25px 15px 25px;
}*/
.trip-details {
  padding: 10px;
}
.row .col {
  padding: 0 5px;
}
.row .col.view {
  padding: 0 2px 0 2px;
}
.row .col.trip {
  border-top: 1px #eee solid;
  padding: 10px 0 15px 0;
  margin: 0;
}
.row .col.trip .trip-departure {
  color: #484848;
}
.row .col.trip .trip-destination {
  font-size: 16px;
}
.row .col.trip .trip-dates {
  color: #A1A1A1;
  font-size: 12px;
}
.row .col.trip .risk-label {
  color: #A1A1A1;
}
.row .col.trip .trip-contact {
  margin: 10px 0 0 0;
}
.row .col.trip .trip-contact span {
  color: #29B6F6;
}
.row .col.trip .trip-accommodation span {
  color: #29B6F6;
}
.row .col.trip .risk.risk-4 {
  color: #B71C1C;
}
.row .col.trip .risk.risk-3 {
  color: #F44336;
}
.row .col.trip .risk.risk-2 {
  color: #FF8F00;
}
.row .col.trip .risk.risk-1 {
  color: #43A047;
}
.row .col.trip .risk.risk-0 {
  color: #9E9E9E;
}
.row .col .security-arrangement-item {
  padding: 15px 0 15px 5px;
  border-top: 1px solid #C6C6C6;
}
.row.user {
  margin: 0;
  padding: 10px 0 15px 0;
}
.col.user {
  margin: 0;
  padding: 0;
}
.col.user .badge-name {
  margin: 0;
  padding: 0;
}
.col.user img {
  margin: 3px 0 0 0;
}
.col.user .comment {
  color: #A1A1A1;
  font-size: 12px;
}
.col.user .subh {
  font-size: 12px;
}
.col.user .subh a {
  color: #29B6F6;
}
.trip i {
  display: inline-block;
  font-size: 14px;
}
@media only screen and (max-width: 992px) {
  .modal {
    width: 95%;
  }
  h4 {
    font-size: 1.35rem;
  }
}
.modal-content > .row {
  margin-bottom: 0;
}
label {
  font-size: 0.8rem;
  color: #222;
}
.btn,
.waves-effect,
table.highlight > tbody > tr {
  transition: none !important;
}
/* Table Adjustments */
th {
  color: #868686;
  font-weight: normal;
  font-size: 12px;
}
/* Supporting classes */
.pointer-click:not(:disabled) {
  cursor: pointer !important;
}
.ico-warning-cont {
  width: 60px;
}
.ico-warning {
  padding: 10px;
  color: #FFA000;
}
/* Calendar Adjustments */
.picker__weekday-display {
  background-color: #1976D2;
  padding: 10px;
  font-weight: 200;
  letter-spacing: .5;
  font-size: 1rem;
  margin-bottom: 15px;
}
.picker__date-display {
  background-color: #2196F3;
}
.picker__day.picker__day--today {
  color: #2196F3;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #2196F3;
}
.picker__close,
.picker__today {
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #2196F3;
}
.input-field label.ddl {
  top: -20px;
}
.input-field label.ddl.col label {
  left: 0;
}
/* Approval Adjustments */
.ico-col {
  max-width: 60px;
}
/* Comment Section  */
.comment {
  padding: 5px 0 10px 15px !important;
  width: 100%;
  border-bottom: 1px #eee solid;
}
.comment ico-col {
  max-width: 60px;
}
.comment .user-name {
  font-size: 13px;
}
.comment .date {
  color: #9E9E9E;
  font-size: 12px;
}
.comment .subh {
  padding: 5px 0 15px 0;
  font-size: 12px;
}
.approval-item .item-label {
  color: #7D7D7D;
  font-size: 12px;
}
.approval-item .approver-name {
  font-size: 13px;
}
/* Security Arrangements */
input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:disabled + label,
input[type=text][readonly="readonly"] + label,
input[type=password]:disabled + label,
input[type=password][readonly="readonly"] + label,
input[type=email]:disabled + label,
input[type=email][readonly="readonly"] + label,
input[type=url]:disabled + label,
input[type=url][readonly="readonly"] + label,
input[type=time]:disabled + label,
input[type=time][readonly="readonly"] + label,
input[type=date]:disabled + label,
input[type=date][readonly="readonly"] + label,
input[type=datetime]:disabled + label,
input[type=datetime][readonly="readonly"] + label,
input[type=datetime-local]:disabled + label,
input[type=datetime-local][readonly="readonly"] + label,
input[type=tel]:disabled + label,
input[type=tel][readonly="readonly"] + label,
input[type=number]:disabled + label,
input[type=number][readonly="readonly"] + label,
input[type=search]:disabled + label,
input[type=search][readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 992px) {
  table > thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
table > thead > tr > th.width5,
table > tbody > tr > td.width5 {
  width: 5%;
}
table > thead > tr > th.width10,
table > tbody > tr > td.width10 {
  width: 10%;
}
table > thead > tr > th.width15,
table > tbody > tr > td.width15 {
  width: 15%;
}
table > thead > tr > th.width20,
table > tbody > tr > td.width20 {
  width: 20%;
}
table > thead > tr > th.width25,
table > tbody > tr > td.width25 {
  width: 25%;
}
table > thead > tr > th.width30,
table > tbody > tr > td.width30 {
  width: 30%;
}
table > thead > tr > th.width35,
table > tbody > tr > td.width35 {
  width: 35%;
}
table > thead > tr > th.width40,
table > tbody > tr > td.width40 {
  width: 40%;
}
table > thead > tr > th.width45,
table > tbody > tr > td.width45 {
  width: 45%;
}
table > thead > tr > th.width50,
table > tbody > tr > td.width50 {
  width: 50%;
}
table > thead > tr > th.width55,
table > tbody > tr > td.width55 {
  width: 55%;
}
table > thead > tr > th.width60,
table > tbody > tr > td.width60 {
  width: 60%;
}
table > thead > tr > th.width65,
table > tbody > tr > td.width65 {
  width: 65%;
}
table > thead > tr > th.width70,
table > tbody > tr > td.width70 {
  width: 70%;
}
table > thead > tr > th.width75,
table > tbody > tr > td.width75 {
  width: 75%;
}
table > thead > tr > th.width80,
table > tbody > tr > td.width80 {
  width: 80%;
}
table > thead > tr > th.width85,
table > tbody > tr > td.width85 {
  width: 85%;
}
table > thead > tr > th.width90,
table > tbody > tr > td.width90 {
  width: 90%;
}
table > thead > tr > th.width95,
table > tbody > tr > td.width95 {
  width: 95%;
}
table > thead > tr > th.risk-4,
table > tbody > tr > td.risk-4 {
  color: #B71C1C;
}
table > thead > tr > th.risk-3,
table > tbody > tr > td.risk-3 {
  color: #F44336;
}
table > thead > tr > th.risk-2,
table > tbody > tr > td.risk-2 {
  color: #FF8F00;
}
table > thead > tr > th.risk-1,
table > tbody > tr > td.risk-1 {
  color: #43A047;
}
table > thead > tr > th.risk-0,
table > tbody > tr > td.risk-0 {
  color: #9E9E9E;
}
.date-label {
  font-size: 0.8rem;
  left: 0.75rem;
  color: #9E9E9E;
}
.marginless {
  margin: 0;
}
.caterpillar-yellow {
  color: #FF8F00;
}