.spinner-white,
.spinner-white-only {
  border-color: #FFFFFF;
}
.active .spinner-layer.spinner-white-only {
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}